<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="root">
    欢迎用户&nbsp;{{ name }}
    <el-button round @click="addUser">圆角按钮</el-button>
    <el-table
            :data="communities"
            border
            style="width: 100%">
        <el-table-column
                fixed
                prop="communityId"
                label="社区Id"
                width="120">
        </el-table-column>
        <el-table-column
                prop="communityName"
                label="社区名"
                width="120">
        </el-table-column>
        <el-table-column
                prop="communityInfo"
                label="社区简介"
                width="120">
        </el-table-column>
        <el-table-column
                fixed="right"
                label="操作"
                width="100">
            <template slot-scope="scope">
                <el-button type="text" @click="handleUpdate(scope.row)">编辑</el-button>
                <el-button type="text" @click="remove(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-dialog
            title="修改社区信息"
            :visible.sync="dialogVisible"
            width="50%"
            :before-close="handleClose">
        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="社区Id">
                <el-input v-model="form.communityId"></el-input>
            </el-form-item>
            <el-form-item label="社区名">
                <el-input v-model="form.communityName"></el-input>
            </el-form-item>
            <el-form-item label="社区简介">
                <el-input v-model="form.communityInfo"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">修改</el-button>
                <el-button @click="handleClose">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-dialog
            title="添加社区"
            :visible.sync="dialogVisible4Add"
            width="50%"
            :before-close="handleClose">
        <el-form ref="form" :model="form1" label-width="80px">
            <el-form-item label="社区名">
                <el-input v-model="form1.communityName"></el-input>
            </el-form-item>
            <el-form-item label="社区简介">
                <el-input v-model="form1.communityInfo"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onAdd">添加</el-button>
                <el-button @click="handleClose">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>
<script type="module" src="/js/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: "#root",
        data() {
            return {
                communities: [],
                dialogVisible: false,
                dialogVisible4Add: false,
                // userName1:this.sessionStorage.getItem("user"),
                name: '',
                form: {
                    communityId: '',
                    communityName: '',
                    communityInfo: ''
                },
                form1: {
                    communityName: '',
                    communityInfo: ''
                }
            }
        },
        created() {
            this.getAll()
            this.getName()
        },
        methods: {
            getAll() {
                var _this = this;
                axios({
                    method: "get",
                    url: "http://localhost:8080/communitys"
                }).then(res => {
                    console.log(res.data.data)
                    _this.communities = res.data.data;
                })
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            },
            onSubmit() {
                console.log(this.formData);
                axios({
                    method: "put",
                    url: "http://localhost:8080/communitys",
                    data: this.form
                }).then(res => {
                    if (res.data.code === 1) {
                        alert("修改成功")
                        this.dialogVisible = false
                        this.getAll()
                    } else {
                        alert("修改失败")
                    }
                })
            },
            handleUpdate(row) {
                var _this = this;

                axios({
                    method: "get",
                    url: "http://localhost:8080/communitys/" + row.communityId
                }).then(res => {
                    if (res.data.code === 1) {
                        _this.form = res.data.data;
                        this.dialogVisible = true;
                    } else {
                        alert(res.data.msg)
                    }
                })
            },
            addUser() {
                this.dialogVisible4Add = true;
            },
            onAdd() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/communitys",
                    data: this.form1
                }).then(res => {
                    if (res.data.code === 1) {
                        this.getAll()
                        alert("添加成功")
                        this.dialogVisible4Add = false;
                    } else {
                        alert("添加失败")
                    }
                })
            },
            remove(row) {
                console.log("111")
                axios({
                    method: "delete",
                    url: "http://localhost:8080/communitys/" + row.communityId
                }).then(res => {
                    if (res.data.code === 1) {
                        alert("删除成功")
                        this.getAll()
                    } else {
                        alert("删除失败")
                    }
                })
            },
            getName() {
                // console.log(sessionStorage.getItem('user'));
                this.name = JSON.parse(sessionStorage.getItem('user')).userName
            }
        }
    })
</script>
</body>
</html>