* {
    margin: 0;
    padding: 0;
}

/*.header{*/
/*    background-color: dodgerblue;*/
/*    height: 40px;*/
/*    display: flex;*/
/*    flex-direction: row-reverse;*/

/*}*/
/*.header .btn{*/
/*    !*width: 80px;*!*/
/*    margin-top: 2px;*/
/*    background-color: peru;*/
/*    height: 35px;*/
/*    !*text-align: center;*!*/
/*    margin-right: 20px;*/
/*}*/
/*#houseKeeperLogin{*/
/*    margin-right: 200px;*/
/*}*/
.el-header {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 50px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
}

.el-button {
    width: 150px;
}

body > .el-container {
    margin-bottom: 40px;
}