<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="root">
    欢迎用户&nbsp;{{ name }}
    <el-button round @click="addOrder">圆角按钮</el-button>
    <el-table
            :data="orders"
            border
            style="width: 100%">
        <el-table-column
                fixed
                prop="serviceOrderId"
                label="订单编号"
                width="120">
        </el-table-column>
        <el-table-column
                prop="userId"
                label="发布用户"
                width="120">
        </el-table-column>
        <el-table-column
                prop="typeId"
                label="服务类型"
                width="120">
        </el-table-column>
        <el-table-column
                prop="address"
                label="住址"
                width="100">
        </el-table-column>
        <el-table-column
                prop="communityId"
                label="社区编号"
                width="100">
        </el-table-column>
        <el-table-column
                prop="postDate"
                label="发布日期"
                width="120">
        </el-table-column>
        <el-table-column
                prop="getDate"
                label="接单日期"
                width="120">
        </el-table-column>
        <el-table-column
                prop="phone"
                label="联系电话"
                width="120">
        </el-table-column>
        <el-table-column
                prop="isFinished"
                label="是否完成"
                width="120">
        </el-table-column>
        <el-table-column
                fixed="right"
                prop="houseKeeperId"
                label="家政公司"
                width="100">
            <template slot-scope="scope">
                <el-button type="text" @click="handleUpdate(scope.row)">编辑</el-button>
                <el-button type="text" @click="remove(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-dialog
            title="修改账单"
            :visible.sync="dialogVisible"
            width="50%"
            :before-close="handleClose">
        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="订单号">
                <el-input v-model="form.serviceOrderId"></el-input>
            </el-form-item>
            <el-form-item label="用户Id">
                <el-input v-model="form.userId"></el-input>
            </el-form-item>
            <el-form-item label="服务Id">
                <el-input v-model="form.typeId"></el-input>
            </el-form-item>
            <el-form-item label="地址">
                <el-input v-model="form.address"></el-input>
            </el-form-item>
            <el-form-item label="社区号">
                <el-input v-model="form.communityId"></el-input>
            </el-form-item>
            <el-form-item label="发布日期">
                <el-input v-model="form.postDate"></el-input>
            </el-form-item>
            <el-form-item label="接单日期">
                <el-input v-model="form.getDate"></el-input>
            </el-form-item>
            <el-form-item label="联系电话">
                <el-input v-model="form.phone"></el-input>
            </el-form-item>
            <el-form-item label="是否完成">
                <el-input v-model="form.isFinished"></el-input>
            </el-form-item>
            <el-form-item label="家政编号">
                <el-input v-model="form.houseKeeperId"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">修改</el-button>
                <el-button @click="handleClose">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-dialog
            title="添加账单"
            :visible.sync="dialogVisible4Add"
            width="50%"
            :before-close="handleClose">
        <el-form ref="form" :model="form1" label-width="80px">
            <el-form-item label="用户Id">
                <el-input v-model="form1.userId"></el-input>
            </el-form-item>
            <el-form-item label="服务类型">
                <el-input v-model="form1.typeId"></el-input>
            </el-form-item>
            <el-form-item label="地址">
                <el-input v-model="form1.address"></el-input>
            </el-form-item>
            <el-form-item label="社区号">
                <el-input v-model="form1.communityId"></el-input>
            </el-form-item>
            <el-form-item label="发布日期">
                <el-input v-model="form1.postDate"></el-input>
            </el-form-item>
            <el-form-item label="接单日期">
                <el-input v-model="form1.getDate"></el-input>
            </el-form-item>
            <el-form-item label="联系电话">
                <el-input v-model="form1.phone"></el-input>
            </el-form-item>
            <el-form-item label="是否完成">
                <el-input v-model="form1.isFinished"></el-input>
            </el-form-item>
            <el-form-item label="家政编号">
                <el-input v-model="form1.houseKeeperId"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onAdd">添加</el-button>
                <el-button @click="handleClose">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>

<script type="module" src="/js/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: "#root",
        data() {
            return {
                dialogVisible: false,
                dialogVisible4Add: false,
                orders: [],
                name: '',
                form: {
                    serviceOrderId: '',
                    userId: '',
                    typeId: '',
                    address: '',
                    communityId: '',
                    postDate: '',
                    getDate: '',
                    phone: '',
                    isFinished: '',
                    houseKeeperId: ''
                },
                form1: {
                    userId: '',
                    typeId: '',
                    address: '',
                    communityId: '',
                    postDate: '',
                    getDate: '',
                    phone: '',
                    isFinished: '',
                    houseKeeperId: ''
                }
            }
        },
        created() {
            this.getAll()
            this.getName()
        },
        methods: {
            getAll() {
                var _this = this;
                axios({
                    method: "get",
                    url: "http://localhost:8080/orders"
                }).then(res => {
                    console.log(res.data.data)
                    _this.orders = res.data.data;
                })
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            },
            onSubmit() {
                console.log(this.formData);
                axios({
                    method: "put",
                    url: "http://localhost:8080/orders",
                    data: this.form
                }).then(res => {
                    if (res.data.code === 1) {
                        alert("修改成功")
                        this.dialogVisible = false
                        this.getAll()
                    } else {
                        alert("修改失败")
                    }
                })
            },
            handleUpdate(row) {
                var _this = this
                axios({
                    method: "get",
                    url: "http://localhost:8080/orders/" + row.serviceOrderId
                }).then(res => {
                    if (res.data.code === 1) {
                        _this.form = res.data.data;
                        this.dialogVisible = true;
                    } else {
                        alert(res.data.msg)
                    }
                })
            },
            addOrder() {
                this.dialogVisible4Add = true;
            },
            onAdd() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/orders",
                    data: this.form1
                }).then(res => {
                    if (res.data.code === 1) {
                        this.getAll()
                        alert("添加成功")
                        this.dialogVisible4Add = false;
                    } else {
                        alert("添加失败")
                    }
                })
            },
            remove(row) {
                axios({
                    method: "delete",
                    url: "http://localhost:8080/orders/" + row.serviceOrderId
                }).then(res => {
                    if (res.data.code === 1) {
                        alert("删除成功")
                        this.getAll()
                    } else {
                        alert("删除失败")
                    }
                })
            },
            getName() {
                // console.log(sessionStorage.getItem('user'));
                this.name = JSON.parse(sessionStorage.getItem('user')).userName
            }
        }
    })
</script>
</body>
</html>