<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .el-header {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
            padding: 0 !important;
        }

        .el-main {
            /*background-color: #FFE4C4;*/
            width: 80%;
            color: #333;
            text-align: center;
            line-height: 160px;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-menu-item:hover {
            background-color: #8fbc8f !important;
        }

        .el-submenu > template:hover {
            background-color: #8fbc8f !important;
        }

        #Info {
            margin-left: 600px;
        }
    </style>
</head>
<body>
<div id="root">
    <el-container>
        <el-header>
            <!--            <div class="line"></div>-->
            <el-menu
                    :default-active="activeIndex2"
                    class="el-menu-demo"
                    mode="horizontal"
                    @select="handleSelect"
                    background-color="#F5DEB3"
                    text-color="BLACK"
                    active-text-color="black">
                <el-menu-item index="1" @click="moveToUser">用户管理</el-menu-item>
                <el-menu-item index="2" @click="moveToKeeper">商家管理</el-menu-item>
                <el-menu-item index="3" @click="moveToOrder">订单管理</el-menu-item>
                <el-menu-item index="4" @click="moveToType">服务管理</el-menu-item>
                <el-menu-item index="5" @click="moveToComment">服务评价管理</el-menu-item>
                <el-menu-item index="6" @click="moveToCheck">认证管理</el-menu-item>
                <el-button id="Info" type="info" icon="el-icon-user-solid" style="background-color: #8fbc8f;"
                           @click="Info">{{ name }}
                </el-button>

            </el-menu>

        </el-header>

        <el-main>
            <el-form ref="form" :model="form" label-width="400px">
                <el-form-item label="用户Id">
                    <el-input style="width: 500px" v-model="form.userId"></el-input>
                </el-form-item>
                <el-form-item label="账号">
                    <el-input style="width: 500px" v-model="form.userName"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input style="width: 500px" v-model="form.password"></el-input>
                </el-form-item>
                <el-form-item label="姓名">
                    <el-input style="width: 500px" v-model="form.realName"></el-input>
                </el-form-item>
                <el-form-item label="身份证号">
                    <el-input style="width: 500px" v-model="form.cardId"></el-input>
                </el-form-item>
                <el-form-item label="性别">
                    <el-input style="width: 500px" v-model="form.sex"></el-input>
                </el-form-item>
                <el-form-item label="联系电话">
                    <el-input style="width: 500px" v-model="form.phone"></el-input>
                </el-form-item>
                <el-form-item label="具体住址">
                    <el-input style="width: 500px" v-model="form.address"></el-input>
                </el-form-item>
                <el-form-item label="社区号">
                    <el-input style="width: 500px" v-model="form.communityId"></el-input>
                </el-form-item>
            </el-form>
        </el-main>
    </el-container>


</div>
<!--<script type="module" src="static/js/axios.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: "#root",
        data() {
            return {
                // userName1:this.sessionStorage.getItem("user"),
                name: '',
                activeIndex2: '1',
                form: {
                    userId: '',
                    userName: '',
                    password: '',
                    cardId: '',
                    sex: '',
                    phone: '',
                    address: '',
                    realName: '',
                    communityId: ''
                }
            }
        },
        created() {
            this.getOne()
            this.getName()
        },
        methods: {
            getOne() {
                const userId = JSON.parse(sessionStorage.getItem('user')).userId
                var _this = this;
                axios({
                    method: "get",
                    url: "http://localhost:8080/users/" + userId
                }).then(res => {
                    console.log(res.data.data)
                    _this.form = res.data.data;
                })
            },
            moveToOrder() {
                window.location.href = "managerServiceOrder.html"
            },
            moveToUser() {
                window.location.href = "managerServiceOrder.html"

            },
            moveToKeeper() {
                window.location.href = "managerServiceOrder.html"

            },
            moveToType() {
                window.location.href = "managerServiceOrder.html"

            },
            moveToComment() {
                window.location.href = "managerServiceOrder.html"

            },
            moveToCheck() {
                window.location.href = "managerServiceOrder.html"

            },
            getName() {
                this.name = JSON.parse(sessionStorage.getItem('user')).userName
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            checkLogin() {

                if (sessionStorage.getItem('user') == null) {
                    alert("请先登录")
                    window.location.href = "userLogin.html"
                }
            },
            Info() {
                window.location.href = "userInfo.html"
            }
        }
    })
</script>
</body>
</html>